.product-img {
  border: 100px;
  width: 150px;
  margin: 20px;
}

.checked {
  color: gold;
}

.navcolour {
  background-color: rgb(219, 149, 58);
}

.imagebg {
  background-color: rgb(238, 188, 172);
}

.dscbg {
  background-color: rgb(196, 116, 132);
}
